* {
    box-sizing: border-box;
}

:root {
    --main-color: #8B551B;
    --second-color: #DCA062;
    --third-color: #E8CDB2;

    --main-dark-color: #7c4b16;
    --main-darker-color: #693f12;

    --active-color: #a17346;
    --hover-color: #be8953;

    --text-color: white;
    --bg-color: #FFF1DF;

    /* background-color: var(--bg-color) */
    background-color: white;
}

html, body, #root {
    height: 100%;
}

.layout {
    padding: 20px 0px;
    max-width: 1200px;
    width: 500px;
    height: 100%;
}

.design-section {
    color: black;
    background-color: var(--bg-color);
    border-radius: 10px;

    min-height: 50px;
    height: 50px;
    flex-grow: 0;
    flex-basis: 0;
    transition: all 0.3s;
    overflow: hidden;
    border: 1.5px solid var(--main-color);
}

.design-section.open {
    height: 100%;
    flex-grow: 1;
    transition: all 0.3s;
    /* overflow: auto; */
    /* max-height: calc(620px); */
}

.design-section + .design-section {
    margin-top: 0.5em;
}



.section-body {
    overflow: auto;
}

.section-header {
    height: 50px;
}




.base-options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 1em;
    justify-content: center;
    justify-items: center;
    transition: width 0.4s 0.3s;
}

.base-options-grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.base-option {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgb(192, 192, 192);
    height: 70px;
    width: 100%;
    border-radius: 8px;

    transition: all 0.3s;
}

.base-option:hover {
    box-shadow: 1px 1px 5px 0px rgb(255, 95, 121);
}
.base-option.active {
    background-color: rgba(255, 162, 162, 0.335);
}
.base-option:active {
    background-color: rgba(255, 162, 162, 0.65);
    box-shadow: 1px 1px 5px 0px rgb(255, 95, 121);
}
.base-option.disabled {
    pointer-events: none;
    color: gray;
    background-color: rgba(0,0,0,5%);
}



.hands {
    top: 0;
    /* background-color: var(--bg-color); */
    /* box-shadow: 0px 0px 15px 10px antiquewhite; */
    transition: all 0.3s;
    height: 40px;
}
.hands.natural { height: 50px }
.hands.xx_short { height: 50px }
.hands.x_short { height: 60px }
.hands.short { height: 70px }
.hands.medium { height: 80px }
.hands.long { height: 90px }
.hands.x_long { height: 100px }
.hands.xx_long { height: 110px }

.hand {
    column-gap: 0.1em;   
}



.finger {
    border-bottom: 100px solid red;
    border-top: 2px solid red;
    border-left: 30px solid rgba(255, 0, 0, 0.142);
    border-right: 30px solid rgba(255, 0, 0, 0.155);
    height: 20px;
    width: 100px;

    /* border-radius: 100% 100% 100% 100%; */
}

/* .finger {
    height: 10px;
    width: 1px;
    
    background-color: rgb(255, 200, 190);
    border-left: 10px solid red;
    border-right: 10px solid yellowgreen;
    border-bottom: 200px solid blue;
    border-color: rgb(255, 200, 190);
} */

.shape-menu {
  display: grid;
  grid-template-rows: min-content 1%;
  transition: grid-template-rows 1s;
  overflow-x: hidden;
}

.shape-menu.selected {
  grid-template-rows: min-content calc(100% - 335px);
  transition: grid-template-rows 1s;
}

.shape-menu.selected .base-option {
    height: 40px;
    transition: height 0.3s;
}
.shape-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.shape-list .base-option {
  height: auto;
  padding: 0.6em;
}

.w-0 {
  width: 0;
  overflow: hidden;
}

.dashed {
  border-style: dashed !important;
}


.floating-total {
    color: black;
    position: fixed;
    bottom: 50px;
    right: calc(100px);

    background-color: antiquewhite;
    box-shadow: 0 0 8px 0 black;
    padding: 1em;
    border-radius: 40px;
    min-width: 120px;
    opacity: 0;
    transition: all 0.3s;
    /* animation: update-glow 0.5s linear 1 forwards forwards; */
    animation: update-glow 0.5s linear 0.1s 1 normal forwards;

}

.floating-total.show {
    opacity: 1;
}

.floating-total:active {
    box-shadow: 0 0 10px 0 pink;
}
.floating-total:hover {
    box-shadow: 0 0 8px 0 pink;
}

@keyframes update-glow {
    0% { box-shadow: 0 0 8px 0 black }
    50% { box-shadow: 5px 0 8px 1px pink }
    99% { box-shadow: 0 0 8px 0 black }
}

td {
  color: #666;
  font-family: Monaco, monospace;
}


/* ====================== Basic ====================== */

input[type="text"] {
  color: black;
  border: 1px solid var(--main-color);
  padding: .5em;
  border-radius: 8px;
  background-color: white;
  outline-color:  var(--second-color);
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 0.56em;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--main-dark-color);
  }
  &:active {
    background-color: var(--main-darker-color);
  }
  &.active {
    background-color: orange;
  }
}

tr:hover {
  background-color: rgba(0,0,0,0.1);
}
/* ====================== Design Selection ====================== */

.design-list {
  --gap-size: 1em;
  --item-size: 45px;
  --border-radii: 20px;

  flex: 1 0 10%;
  gap: var(--gap-size);

  .design-column {
    flex: 1 0 10%; 
    gap: var(--gap-size);
  }

  .design-option {
    position: relative;
    height: var(--item-size);
    transition: height 0.2s;
    
    &.expanded {
      height: calc(var(--item-size) * 1.7);
    }
    
    .option-count {
      color: black;
      background-color: var(--third-color);
      font-weight: bold;
      font-size: 0.85em;
      border-radius: 50%;
      border: 1px solid black;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -7px;
      right: -7px;
      height: 25px;
      width: 25px;
    }

    .option-label {
      top: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
      border-radius: var(--border-radii);
      height: var(--item-size);
      cursor: pointer;
    }
    
    .option-buttons {
      display: flex;
      position: relative;
      align-items: stretch;
      border-radius: var(--border-radii);
      overflow: hidden;
      height: 100%;
      width: 100%;

      button {
        all: unset;
        cursor: pointer;
        color: white;
        background-color: var(--second-color);
        display: flex;
        justify-content: center;
        align-items: end;
        flex: 1 0 30%;
        padding-bottom: calc(var(--item-size) / 6);
        border: none;
      }
      button:hover {
        background-color: var(--hover-color);
      }
      button:active {
        background-color: var(--active-color);
      }
      button:disabled, button:disabled:hover {
        background-color: var(--third-color);

      }
    }
  }
}
