* {
    box-sizing: border-box;
}


:root {
  --bg-1-color: #24223E;
  --bg-2-color: #624F82;

  --primary-color: #9F73AB;
  --secondary-color: #524D8D;
  --accent-color: #A3C7D6;

  --text-color: #EAEAEA;
  --text-muted-color: #BFBFBF;


  --radius: 10px;
}

* {
  color: var(--text-color);
}
html, body {
  height: 100dvh;
  background-color: var(--bg-1-color);
}
#root {
  scroll-behavior: smooth;
  height: calc(100% + 90px);
  background-color: var(--bg-1-color);
  /* overscroll-behavior: none; */
}


/* -------------- Basic Elements */
button {
  padding: 1em 0.8em;
  border-radius: var(--radius);
  background-color: var(--primary-color);
  border: none;
  border-color: var(--primary-color);
  border-width: 1px;
  border-style: solid;
  font-size: 1em;

  &.secondary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-width: 1px;
    color: var(--bg-1-color);
  }
  
  &.link {
    padding: 0.2em;
    background-color: transparent;
    border-radius: 0;
    color: var(--accent-color);
  }

  &:not(:disabled):hover {
    filter: brightness(95%);
  }
  &:not(:disabled):active {
    filter: brightness(80%);
  }

  &:disabled {
    opacity: 0.5;
  }

  &.outline {
    background-color: transparent;
    border-color: var(--primary-color);
    
    &:hover {
      background-color: transparent;
      border-color: var(--accent-color);
    }
  }
}


label:has(> input[type="radio"]) {
  --chbx-size: 17px;
  --chbx-border: 1px;
  --pad-x: 0.6em;

  font-size: 1em;
  position: relative;
  display: inline-block;
  padding: 0.7em var(--pad-x) 0.8em calc(var(--pad-x) * 3.8);
  border-radius: var(--radius);
  border: 1px solid var(--primary-color);

  input[type="radio"] {
    appearance: none;
    position: absolute;
  }

  &:has(input[type="radio"]:checked) {
    background-color: var(--bg-2-color);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: var(--pad-x);
    border: var(--chbx-border) solid var(--primary-color);
    border-radius: 50%;
    width: var(--chbx-size);
    height: var(--chbx-size);
    transform: translateY(-50%);
  }

  &:has(input[type="radio"]:checked)::after {
    --full: calc(var(--chbx-size) + var(--chbx-border) * 2);

    content: '';
    position: absolute;
    top: 50%;
    left: var(--pad-x);
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: translate(calc((var(--full) - 4px)/4), -50%);
    width: calc(var(--chbx-size) * 0.7);
    height: calc(var(--chbx-size) * 0.7);
  }
}


label:has(> input[type="checkbox"]) {
  --chbx-size: 17px;
  --chbx-border: 1px;

  font-size: 1em;
  position: relative;
  display: inline-block;
  padding: 0 0 0 2.4em;

  input[type="checkbox"] {
    appearance: none;
    position: absolute;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    border: var(--chbx-border) solid var(--primary-color);
    border-radius: 10px;
    width: calc(var(--chbx-size) * 1.7);
    height: var(--chbx-size);
    transition: all 0.2s;
  }
  &:has(input[type="checkbox"]:checked)::before {
    background-color: var(--secondary-color);
  }

  &:has(input[type="checkbox"]:checked)::after {
    background-color: var(--accent-color);
  }

  &:has(input[type="checkbox"])::after {
    --full: calc(var(--chbx-size) + var(--chbx-border) * 2);

    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    width: calc(var(--chbx-size) * 0.7);
    height: calc(var(--chbx-size) * 0.7);
    transform: translate(calc(var(--full) - 3px), -50%);
    transition: all 0.2s;
  }
  
  &:has(input[type="checkbox"]:not(:checked))::after {
    transform: translate(calc((var(--full) - 4px)/4), -50%);
  }

}
/* -------------- Basic Elements */


.page-layout {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  height: 100%;
  max-width: 600px;
  
  .header-panel {
    h1 { 
      font-size: 1.7em;
      margin: 0.1em 0 0 0; 
    } 
    h3 { 
      font-weight: 100;
      margin: 0; 
    }
  }


  .nail-panel {
    height: 200px;
    border: 1px solid black;
  }

  .items-panel {
    &::-webkit-scrollbar {
      display: none;
    }
    
    overflow-x: auto;
    display: flex;
    column-gap: 0.5em;

    li {
      list-style: none;
      background-color: var(--secondary-color);
      border-radius: var(--radius);
      padding: 0.5em;
      flex: 0 0 fit-content; 
    }
  }
  
  .footer-panel {
    grid-area: foot-panel;
  }
}


.tabbed-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .tab-titles {
    display: flex;
    padding-inline-start: 0;
    margin: 0;

    .tab {
      display: inline-block;
      padding: 0.8em 1em 0.6em;
      border-radius: var(--radius) var(--radius) 0 0;
    
      margin-bottom: -2px;
      
      &.active {
        background-color: var(--bg-2-color);
      }
    }
  }
  
  &:has(.tab:first-child.active) .tab-container {
    border-top-left-radius: 0;
  }
  .tab-container {
    flex-grow: 1;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background-color: var(--bg-2-color);
  }
}

@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  .chat {
    background-color: red;
  }
}

.chat {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;

  .bubble {
    display: inline-block;
    max-width: 75%;
    border-radius: var(--radius);
    background-color: rgb(0 0 0 / 30%);
    padding: 1em;
    margin-bottom: 1em;
  }
  .options {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 0.4em;

    max-width: 75%;
    width: fit-content;
    margin-left: auto;
    text-align: right;

    > * {
      min-width: 37%;
      text-align: left;
    }
  }

}


.section-container {
  border-radius: var(--radius);
  background-color: rgb(0 0 0 / 25%);
}

.service-details {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.5em;
}
.service-section {  
  h4 { 
    margin: 0 0 0.4em 0; 
    grid-column: 1 / -1;
    align-self: center;
  }
  display: grid;
  
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  &.col-1 { grid-template-columns: repeat(1, 1fr) }
  &.col-2 { grid-template-columns: repeat(2, 1fr) }
  &.col-3 { grid-template-columns: repeat(3, 1fr) }
  &.gapH-2 { row-gap: 1em }

}

.price-footer {
  flex-basis: 60px;

  .price {
    position: fixed;
    bottom: 0.5em;
    background-color: var(--bg-2-color);
    height: 60px;
    width: calc(100% - 1em);
    border-radius: var(--radius);
    text-align: center;
    border: 1px solid black;
    transition: height 0.3s;
  }
  
  .price.open {
    height: 50%;
    transition: height 0.1s;
  }
}

.design-options {
  position: relative;

  .section-container {
    padding: 0.7em;
  }

  .selected {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    align-items: center;
    
    label { 
      flex-grow: 1;
      padding: 0.8em 0.5em 0.8em 0.8em;
    }
    button.text {
      border-radius: 0;
      border-width: 0;
      border-left: 1px solid var(--primary-color);
      border-right: 1px solid var(--primary-color);
      background-color: transparent;
      align-self: stretch;
      font-size: 1em;
      stroke: var(--accent-color)
    }
    button.icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      
      * {
        color: var(--bg-1-color);
        fill: var(--accent-color);
        stroke: var(--accent-color);
      }
    }
  }

  .design-options-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    
  }

  .clear-btn {
    position: absolute;
    bottom: 0.3em;
    right: 0.7em;
  }
}

.service-list {
  border-radius: var(--radius);
  background-color: var(--bg-2-color);


  li {
    display: block;
    text-align: center;
    padding: 0.6em 0.2em;
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  li:hover {
    filter: brightness(1.1);
  }
  li:active {
    filter: brightness(0.9);
  }
  li:not(:last-child) {
    margin-bottom: 0.4em;
  }
}


.layout {
  padding: 20px;
  max-width: 1200px;
  width: 500px;
  height: calc(100% - 58px);
}
/* Maximum width */
@media (max-width: 600px) {
  .layout {
    width: 100%;
    padding: 0;
  }
}

.design-section {
    color: black;
    background-color: var(--bg-color);
    border-radius: 10px;

    min-height: 50px;
    height: 50px;
    flex-grow: 0;
    flex-basis: 0;
    transition: all 0.3s;
    overflow: hidden;
    border: 1.5px solid var(--main-color);
}

.design-section.open {
    height: 100%;
    flex-grow: 1;
    transition: all 0.3s;
    /* overflow: auto; */
    /* max-height: calc(620px); */
}

.design-section + .design-section {
    margin-top: 0.5em;
}



.section-body {
    overflow: auto;
}

.section-header {
    height: 50px;
}

.fancy-font {
  font-family: Optima;
}
.page-title {
  font-size: 1.8em;
  font-weight: lighter;
}


.base-options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 1em;
    justify-content: center;
    justify-items: center;
    transition: width 0.4s 0.3s;
}

.base-options-grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.base-option {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgb(192, 192, 192);
    height: 70px;
    width: 100%;
    border-radius: 8px;

    transition: all 0.3s;
}

.base-option:hover {
    box-shadow: 1px 1px 5px 0px rgb(255, 95, 121);
}
.base-option.active {
    background-color: rgba(255, 162, 162, 0.335);
}
.base-option:active {
    background-color: rgba(255, 162, 162, 0.65);
    box-shadow: 1px 1px 5px 0px rgb(255, 95, 121);
}
.base-option.disabled {
    pointer-events: none;
    color: gray;
    background-color: rgba(0,0,0,5%);
}



.hands {
    top: 0;
    /* background-color: var(--bg-color); */
    /* box-shadow: 0px 0px 15px 10px antiquewhite; */
    transition: height 0.3s;
    height: 40px;
}
.hands.natural { height: 50px }
.hands.xx_short { height: 50px }
.hands.x_short { height: 60px }
.hands.short { height: 70px }
.hands.medium { height: 80px }
.hands.long { height: 90px }
.hands.x_long { height: 100px }
.hands.xx_long { height: 110px }

.hand {
    column-gap: 0.1em;   
}



.finger {
  transform: scale(1) translate(0px, 0px) rotateZ(0deg);
  height: 80px;
}


.shape-menu {
  display: grid;
  grid-template-rows: min-content 1%;
  transition: grid-template-rows 1s;
  overflow-x: hidden;
}

.shape-menu.selected {
  grid-template-rows: min-content calc(100% - 335px);
  transition: grid-template-rows 1s;
}

.shape-menu.selected .base-option {
    height: 40px;
    transition: height 0.3s;
}
.shape-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.shape-list .base-option {
  height: auto;
  padding: 0.6em;
}

.w-0 {
  width: 0;
  overflow: hidden;
}

.dashed {
  border-style: dashed !important;
}



/* ====================== Basic ====================== */


td:last-child, th:last-child {
  width: 75px;
}
td {
  color: #666;
  font-family: Monaco, monospace;
}

input[type="text"] {
  color: black;
  border: 1px solid var(--main-color);
  padding: .5em;
  border-radius: 8px;
  background-color: white;
  outline-color:  var(--second-color);
}


tr:hover {
  background-color: rgba(0,0,0,0.1);
}
/* ====================== Design Selection ====================== */



/* =================== Summary ====================== */

.summary-drawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  
  width: calc(100% - 1em);
  max-height: 56px;
  height: 56px;
  overflow: hidden;

  border: 1px solid var(--main-color);
  border-radius: 10px;

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  background-color: var(--second-color);
  
  transition: max-height 0.4s, height 0.4s, box-shadow 0.4s, background-color 0.8s 0.2s;
  
 
  &.open { 
    &.full {
      max-height: calc(100% - 107px);
    }
    max-height: 60%;
    height: 100%;
    color: black;
    box-shadow: 0 0 100vh 100vh rgba(0,0,0,0.3);
    background-color: var(--bg-color);
    transition: max-height 0.4s, height 0.4s, box-shadow 0.4s, background-color 0.8s 0.2s;


    .header {
      background-color: var(--second-color);
    }
    .title {
      left: 1em;
      opacity: 1;
      transition: left -0.3 0.2s, opacity 0.3s 0.2s;
    }
    .price {
      opacity: 0;
      transition: none;
    }
    .summary-table {
      height: 100%;
      transition: height 0.3s, flex-grow 0.3s;
      overflow-y: auto;
      flex-grow: 1;
    } 
    .btn-group {
      display: block;
      position: absolute;
      right: 4px;
      top: 4px;
      
      button {
        padding-top: 16px;
        height: 44px;
        width: 44px;
        border-radius: 10px;
        margin-left: 4px;
      }
      button:last-child {
        transform: rotate(180deg)
      }
    }
  }
  
  .btn-group {
    display: none;
  }

  .header {
    flex: 0 0;
    cursor: pointer;
    position: relative;
    color: white; 
    border-radius: 10px;
    background-color: transparent;
    transition: color 0.4s 0.1s, background-color 0.4s 0.1s;
  }
  
  .title { 
    position: absolute; 
    left: -1em;
    opacity: 0;
    transition: left 0.3s 0.2s;
  }
  .price {
    opacity: 1;
    transition: opacity 0.3s 0.5s;
  }

  .summary-table {
    transition: height 0.3s, flex-grow 0.3;
    height: 0px;
    overflow: hidden;
    flex-grow: 0;

    tr th {
      border-bottom: 2px dashed gray;
      padding: 8px 0 8px;
    }
  }
}

.nail-svg {
  -webkit-transition: d 0.3s;
  transition: d 0.3s;
}

/* ===================== Utility CSS */

html:has(.no-scroll) {
  overscroll-behavior: none;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
}