:root {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* --------------------------------- */

.design-list {
  border-radius: 10px;
  background-color: #f1f1f1;
}

.design-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  
  max-height: 0px;
  transition: all 0.3s;
}
.design-list.open .design-item-container {
  transition: all 0.3s;
  max-height: 300px;
}

.design-item {
  height: 70px;
  background-color: aliceblue;
}
.design-item:hover {
  background-color: lightcyan;
}
.design-item.selected {
  background-color: powderblue;
}


